@import '/src/common/styles/styles.scss';

.article {
  @extend %list;
  background-color: $light-accent-color;
}
.taskText {
  width: 80%;
}
.iconWrapper {
  @extend %borderRadius-padding;
  background-color: $accent-color;
  color: $white-color;
  font-size: 25px;
  :hover {
    color: $hover-accent-color;
  }
}
.articleCheck {
  @extend %list;
  background-color: $check-color;
}
