@import '../../common/style/variables';
@import '../../common/style/templates.scss';
.form {
  @extend %form;
  flex-wrap: wrap;
  justify-content: center;
}
.input {
  @extend %input;
}
.wrapperInputs {
  @extend %wrapperInputs;
}
.wrapperInput {
  width: 45%;
  @media screen and (max-width: 620px) {
    width: 100%;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
  @extend %smallText;
}
.error {
  @extend %error;
}
.label {
  border: 1px solid;
  padding: 15px;
  margin: 15px;
  width: 100%;
}
.bigText {
  font-size: 20px;
  margin-left: 20px;
  @media screen and (max-width: 620px) {
    font-size: 15px;
  }
}
.smText {
  font-size: 12px;
}
.positionAbsolute {
  position: absolute;
}
.btn{
  @extend %btn;
  width: 100%;
}
