.btnWrapper {
  display: flex;
  justify-content: center;
}
.whiteBtn,
.redBtn,
.greenBtn {
  width: 100px;
  height: 100px;
  border: #f28157 solid 10px;
  border-radius: 50px;
  margin: 10px;
}
.whiteBtn {
  background-color: #ffffff;
  color: #253659;
}
.redBtn {
  background-color: #771d15;
}
.greenBtn {
  background-color: #03a696;
}
