@import '../../common/style/templates.scss';
.form {
  @extend %form;
  flex-direction: column;
}
.input {
  @extend %input;
  margin: 10px;
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  @extend %smallText;
}
.error {
  @extend %error;
  margin: 10px;
  width: 100%;
}
