@import '../../common/styles/styles.scss';
.block {
  @extend %borderRadius-padding;
  width: 700px;
  background-color: $white-color;
  margin: 50px auto;
  font-size: 20px;
  font-family: sans-serif;
}
.wrapper {
  @extend %space-between;
  height: 50px;
}
.input {
  @extend %borderRadius-padding;
  border: 2px $accent-color solid;
  height: 100%;
  width: 80%;
}
.btn {
  @extend %borderRadius-padding;
  background-color: $accent-color;
  color: $white-color;
  text-align: center;
  height: 100%;
}
.ul {
  margin-top: 20px;
}
.li {
  background-color: $light-accent-color;
  @extend %list;
}
.check {
  background-color: $check-color;
  @extend %list;
}
.taskText {
  width: 80%;
}
.iconWrapper {
  @extend %borderRadius-padding;
  background-color: $accent-color;
  color: $white-color;
  font-size: 25px;
  :hover {
    color: $hover-accent-color;
  }
}
