$white-color: antiquewhite;
$accent-color: dodgerblue;
$light-accent-color: lightblue;
$check-color: lawngreen;
$hover-accent-color: blue;

%borderRadius-padding {
  border-radius: 5px;
  padding: 10px;
}
%space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

%list {
  @extend %borderRadius-padding;
  @extend %space-between;
  margin: 10px 0 10px 0;
  align-items: center;
}
%input {
  @extend %borderRadius-padding;
  height: 100%;
  width: 90%;
}
