@import '../../common/style/templates.scss';
.form {
  @extend %form;
  flex-direction: column;
}
.input {
  @extend %input;
}
.wrapperInputs {
  @extend %wrapperInputs;
}
.wrapperInput {
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  @extend %smallText;
  @media screen and (max-width: 620px) {
    flex-direction: column;
    height: 60px;
  }
}
.error {
  @extend %error;
}
.btn{
  @extend %btn;
}
