.wrapper {
  border: #f28157 solid 10px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.time {
  font-size: 3rem;
}
