.header {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  align-items: center;
}
.link {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 4px;
}
