@import '../../common/style/templates.scss';
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  @extend %heading;
}
.text {
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
  @media screen and (max-width: 620px) {
    font-size: 12px;
    text-align: center;
  }
}
