@import '../../common/style/commonStyle.scss';
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headering {
  @extend %headering;
}
.text {
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
}
